/*input, textarea{
  display:block;
}*/

body {
  font-family: "Tahoma";
  margin: 10px;
}

form {
	padding-top: 10px;
}

button {
	font-family: "Tahoma";
	font-size: 12px;
}

img {
	max-width: 30%;
}