<h2>I'm the Grumbles index!</h2>

<div data-ng-repeat="grumble in GrumbleIndexViewModel.grumbles">
  <p><a data-ui-sref="grumbleShow({id: $index})">{{grumble.title}}</a></p>

  <button ng-click="GrumbleIndexViewModel.delete($index)"; data-ui-sref="grumbleIndex">Delete Me</button>
  <hr>
</div>


<button ng-click="createForm = !createForm">Create New</button>

<div ng-show="createForm">

  <form ng-submit="GrumbleIndexViewModel.create()">

  <label>Title: </label><input data-ng-model="GrumbleIndexViewModel.newGrumble.title" />

  <label>Author Name </label><input data-ng-model="GrumbleIndexViewModel.newGrumble.authorName" />

  <label>Grumble Content: </label><input data-ng-model="GrumbleIndexViewModel.newGrumble.content" />

  <label>Photo URL: </label><input data-ng-model="GrumbleIndexViewModel.newGrumble.photoUrl" />

   <input type="submit" ng-click="createForm =! createForm">
</div>