<h2>I'm the Grumbles show page!!!</h2>
<h3>{{GrumbleShowViewModel.grumble.title}}</h3>
<p><em>a grumble from {{GrumbleShowViewModel.grumble.authorName}}</em></p>
<img ng-src="{{GrumbleShowViewModel.grumble.photoUrl}}">
<blockquote>{{GrumbleShowViewModel.grumble.content}}</blockquote>

<button ng-click="editForm = !editForm">Edit Me</button>
<div ng-show="editForm">

	<form ng-submit="GrumbleShowViewModel.edit($index)" id="editForm">

	    <label>Title: </label>
	    <input id="title" type="text" name="title" ng-model="this.title">

	    <label>Author Name: </label>
	    <input id="authorName" type="text" name="authorName" ng-model="this.authorName">

	    <label>Grumble Content: </label>
	    <input id="content" type="text" name="content" ng-model="this.content">

	    <label>Photo URL: </label>
	    <input id="photoUrl" type="text" name="photoUrl" ng-model="this.photoUrl">

	    <input type="submit" ng-click="grumbleShow({id: $index}); editForm =! editForm">

	</form>

</div>